@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@500&display=swap');

.service {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #6BB008;
  padding: 0 15px;
  justify-items: center;
}

.ServiceHeader {
  grid-column: 1/-1;
  grid-row: 1/2;
  text-align: center;

  h2 {
    margin-bottom: 0;
  }

  p {
    max-width: 530px;
    margin-bottom: 0;
  }
}

.ServiceTitle {
  text-align: center;
  max-width: 200px;
  margin-bottom: 10px;
  font-weight: 600;
}

.ServiceContent {
  max-width: 220px;
  text-align: center;
  font-size: .8rem;

}

.serviceImg {
  border-radius: 50%;
  background-color: #79b72a;
  padding: 10px;
  height: 200px;
  margin-bottom: 15px;

}